---
title: Blog
layout: page
page_title: Blog
css_file: blog.css
---

<section id="posts" class="container-fluid">
    <ul>
        {% for post in site.posts %}
        <li>
            <div class="post-container col-md-4">
                <a href="{{ post.url }}">
                    <div class="post-preview-small" title="{{ post.title }}" alt="Link to the {{ post.title }} article." style="background: radial-gradient(200px, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url('/static/{% if post.header-img %}{{ post.header-img }}{% else %}{{ site.header-img }}{% endif %}') no-repeat center center; background-size: cover;">
                        <div class="post-preview-small-text">
                            <h2>{{ post.title }}</h2>
                            <h4>{{ post.date | date: "%B %-d, %Y" }}</h4>
                        </div>
                    </div>
                </a>
            </div>
        </li>
        {% endfor %}
    </ul>
</section>
