---
layout: page-index
css_file: index.css
---

<section id="recent-posts" class="container-fluid">
    <ul>
        {% for post in site.posts limit: 2 %}
        <li>
            <a href="{{ post.url }}">
                <div class="post-preview col-sm-6" title="{{ post.title }}" alt="Link to the {{ post.title }} article" style="background: radial-gradient(300px, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url('{{ site.baseurl }}static/{% if post.header-img %}{{ post.header-img }}{% else %}{{ site.header-img }}{% endif %}') no-repeat center center; background-size: cover;">
                    <div class="post-preview-text">
                        <h2>{{ post.title }}</h2>
                        <h4>Posted by {{ post.author }} on {{ post.date | date: "%B %-d, %Y %I:%M %p" }}</h4>
                    </div>
                </div>
            </a>
        </li>
        {% endfor %}
    </ul>
</section>
<section id="quick-info" class="container-fluid">
    <div id="info-container">
        <p>Hi! I'm Sean. I'm a student in the University of the Philippines. I code for fun. I've written code that many people used already. I blog to express not impress. I've been coding for nearly 5 years already, and still learning. I code, blog, support open source, read, play, listen, and learn. <a href="/about">Read more…</a></p>
    </div>
</section>
<section id="posts" class="container-fluid">
    <h3>Recent Posts</h3>
    <ul>
        {% for post in site.posts limit: 6 offset: 2 %}
        <li>
            <div class="post-container col-sm-6 col-md-4">
                <a href="{{ post.url }}">
                    <div class="post-preview-small" title="{{ post.title }}" alt="Link to the {{ post.title }} article." style="background: radial-gradient(200px, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url('{{ site.baseurl }}static/{% if post.header-img %}{{ post.header-img }}{% else %}{{ site.header-img }}{% endif %}') no-repeat center center; background-size: cover;">
                        <div class="post-preview-small-text">
                            <h2>{{ post.title }}</h2>
                            <h4>{{ post.date | date: "%B %-d, %Y" }}</h4>
                        </div>
                    </div>
                </a>
            </div>
        </li>
        {% endfor %}
    </ul>
    <h4><a href="/blog">View More…</a></h4>
</section>
<hr class="index-divider" />
<section id="projects" class="container-fluid">
    <h3>Recent Projects</h3>
    <div class="container-fluid">
        <ul>
            <li>
                <div class="item-container col-md-3">
                    <div class="item-preview" alt="PSHS-EVC Election System" style="background: radial-gradient(150px, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url('/static/img/index/project-1.png') no-repeat center center; background-size: cover;"></div>
                    <h2>
                        PSHS-EVC Election System<br>
                        <small>
                            GNU General Public License v3
                            <br>
                            <a href="https://github.com/seanballais/sage-aes"><span class="fa fa-github"></span>&nbsp;View code</a>
                        </small>
                    </h2>
                    <h4>An election system I developed using Python for use during the student government elections in PSHS-EVC last August 2016. The election system is being powered by Botos, a small-scale election system that I developed that is designed to be used in any small-scale elections. The system supports dynamic candidates, voter registration, and templating. The code for Botos is available over at <a href="https://github.com/seanballais/botos">GitHub</a>. This system succeeds the <a href="https://github.com/seanballais/SAElections">previous election system</a> I created for the same school and is less flexible.</h4>
                </div>
            </li>
            <li>
                <div class="item-container col-md-3">
                    <div class="item-preview" alt="Eastern Vista website" style="background: radial-gradient(150px, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url('/static/img/index/project-2.png') no-repeat center center; background-size: cover;"></div>
                    <h2>
                        Eastern Vista Website<br>
                        <small>
                            Freelance
                            <br>
                            <a href="http://easternvista.com"><span class="fa fa-globe"></span>&nbsp;Visit website</a>
                        </small>
                    </h2>
                    <h4>A website I developed using WordPress for a local news organization on January 2016. It is built with necessary features that one would expect in a news website.</h4>
                </div>
            </li>
            <li>
                <div class="item-container col-md-3">
                    <div class="item-preview" alt="Top secret" style="background: radial-gradient(150px, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url('/static/img/index/project-4.png') no-repeat center center; background-size: cover;"></div>
                    <h2>
                        Push 'Em Over<br>
                        <small>
                            MIT
                            <br>
                            <a href="https://github.com/seanballais/push-em-over"><span class="fa fa-github"></span>&nbsp;View code</a>
                        </small>
                    </h2>
                    <h4>This is a video game project my classmates and I developed for our Computer Science class in university. It is developed using Java and utilizes the LibGDX game development library and Box2D for the physics.</h4>
                </div>
            </li>
            <li>
                <div class="item-container col-md-3">
                    <div class="item-preview" alt="Top secret" style="background: radial-gradient(150px, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url('/static/img/index/project-3.png') no-repeat center center; background-size: cover;"></div>
                    <h2>
                        Classified Information<br>
                        <small>
                            Proprietary
                            <br>
                            <a href="https://www.youtube.com/v?v=woySeSNBL3o&autoplay=1"><span class="fa fa-question-circle"></span>&nbsp;View classified details</a>
                        </small>
                    </h2>
                    <h4>Currently, I am working on a 2D video game project. I plan to release it on Windows, macOS, and Linux. If things go well, I might decide porting it over to the PlayStation 4 and Xbox One. Additionals details cannot be disclosed at the moment.</h4>
                </div>
            </li>
        </ul>
    </div>
    <div id="view-more">
        <h4><a href="https://github.com/seanballais">View More…</a></h4>
    </div>
</section>
<section id="youtube-announcement" class="container-fluid">
    <div id="info-content">
        <div id="content-image" class="col-xs-12 col-md-4">
            <img class="img-responsive center-block" src="/static/img/index/youtube.png" width="320" />
        </div>
        <div id="content-text" class="col-xs-12 col-md-8">
            <h2>I'm on Youtube!</h2>
            <p>Yes, you read that right. I also create videos and upload them to Youtube. Currently, it is just full of gameplay videos but I promise you that I will be uploading educational videos where I teach you Computer Science concepts, and video logs. Just you wait!<br><small><a href="https://www.youtube.com/channel/UCd8ldjuQgAOIo4uX632IHUA"><span class="fa fa-youtube"></span>&nbsp;Visit my Youtube channel</a></small></p>
        </div>
    </div>
</section>
