---
layout: page-index
css_file: index.css
---

<section id="recent-posts" class="container-fluid">
    <ul>
        {% for post in site.posts limit: 2 %}
        <li>
            <a href="{{ post.url }}">
                <div class="post-preview col-sm-6" title="{{ post.title }}" alt="Link to the {{ post.title }} article" style="background: radial-gradient(300px, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url('{{ site.baseurl }}static/{% if post.header-img %}{{ post.header-img }}{% else %}{{ site.header-img }}{% endif %}') no-repeat center center; background-size: cover;">
                    <div class="post-preview-text">
                        <h2>{{ post.title }}</h2>
                        <h4>Posted by {{ post.author }} on {{ post.date | date: "%B %-d, %Y %I:%M %p" }}</h4>
                    </div>
                </div>
            </a>
        </li>
        {% endfor %}
    </ul>
</section>
<section id="quick-info" class="container-fluid">
    <div id="info-container">
        <p>Hi! I'm Sean. I'm a student in the University of the Philippines. I code for fun. I've written code that many people used already. I blog to express not impress. I've been coding for nearly 5 years already, and still learning. I code, blog, support open source, read, play, listen, and learn. <a href="/about">Read more…</a></p>
    </div>
</section>
<section id="posts" class="container-fluid">
    <h3>Recent Posts</h3>
    <ul>
        {% for post in site.posts limit: 6 offset: 2 %}
        <li>
            <div class="post-container col-sm-6 col-md-4">
                <a href="{{ post.url }}">
                    <div class="post-preview-small" title="{{ post.title }}" alt="Link to the {{ post.title }} article." style="background: radial-gradient(200px, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url('{{ site.baseurl }}static/{% if post.header-img %}{{ post.header-img }}{% else %}{{ site.header-img }}{% endif %}') no-repeat center center; background-size: cover;">
                        <div class="post-preview-small-text">
                            <h2>{{ post.title }}</h2>
                            <h4>{{ post.date | date: "%B %-d, %Y" }}</h4>
                        </div>
                    </div>
                </a>
            </div>
        </li>
        {% endfor %}
    </ul>
    <h4><a href="/blog">View More…</a></h4>
</section>
<hr class="index-divider" />
<section id="works" class="container-fluid">
    <div id="info-content">
        <div id="content-image" class="col-xs-12 col-md-4">
            <img class="img-responsive center-block" src="/static/img/index/works.png" />
        </div>
        <div id="content-text" class="col-xs-12 col-md-8">
            <h2>Works</h2>
            <p>Over the years, I've built a couple of projects from a small sand simulation to a file encryption tool. I start a lot, but, admittedly, only finish a few. I've also been doing some volunteer work to help make the world a better place even if for just a small portion of it. You can check what I've been up to in my <a href="/works">Works</a> page.</p>
        </div>
    </div>
</section>
