---
layout: default
css_file: index.css
---

<section class="container-fluid">
    {% for post in site.posts limit: 2 %}
    <a href="{{ post.url }}">
        <section class="post-preview col-md-6" style="background: url('{{ site.baseurl }}static/{% if post.header-img %}{{ post.header-img }}{% else %}{{ site.header-img }}{% endif %}') no-repeat center center; background-size: cover;">
            <h2>{{ post.title }}</h2>
            <h4>{{ post.date | date: "%B %-d, %Y" }}</h4>
        </section>
    </a>
    {% endfor %}
</section>
