<meta content="{{ site.title }}" property="og:site_name">
{% if page.title %}
  <meta content="{{ page.title }}" property="og:title">
  <meta content="article" property="og:type">
{% else %}
  <meta content="{{ site.title }}" property="og:title">
  <meta content="website" property="og:type">
{% endif %}
{% if page.description %}
  <meta content="{{ page.description }}" property="og:description">
{% else %}
  <meta content="{{ site.description }}" property="og:description">
{% endif %}
<meta content="{{ site.url }}{{ page.url }}" property="og:url">
{% if page.date %}
  <meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">
  <meta content="{{ site.url }}/about/" property="article:author">
{% endif %}
{% if page.header-img %}
  <meta content="{{ site.url }}/static/{{ page.header-img }}" property="og:image">
{% else %}
  <meta content="{{ site.url }}/static/img/header.jpg" property="og:image">
  <meta content="1280" property="og:image:width">
  <meta content="853" property="og:image:height">
{% endif %}
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@seanballais">
<meta name="twitter:creator" content="@seanballais">
{% if page.title %}
  <meta name="twitter:title" content="{{ page.title }}">
{% else %}
  <meta name="twitter:title" content="{{ site.title }}">
{% endif %}
{% if page.url %}
  <meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
{% endif %}
{% if page.description %}
  <meta name="twitter:description" content="{{ page.description }}">
{% else %}
  <meta name="twitter:description" content="{{ site.description }}">
{% endif %}
{% if page.header-img %}
  <meta name="twitter:image:src" content="{{ site.url }}/static/{{ page.header-img }}">
{% else %}
  <meta name="twitter:image:src" content="{{ site.url }}/static/img/header.jpg">
{% endif %}
