<div class="social-links col-xs-12">
    <ul class="list-inline text-center" style="margin-left: -30px;">
        <li>
            <a href="/feed.xml">
                <span class="fa-stack" title="Feed" alt="Link to feed">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-feed fa-stack-1x fa-inverse"></i>
                </span>
            </a>
        </li>
        <li>
            <a href="https://www.github.com/{{ site.github_username }}" title="GitHub" alt="Link to GitHub profile">
                <span class="fa-stack">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                </span>
            </a>
        </li>
        <li>
            <a href="https://www.twitter.com/{{ site.twitter_username }}" title="Twitter" alt="Link to Twitter profile">
                <span class="fa-stack">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
            </a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" title="LinkedIn" alt="Link to LinkedIn profile">
                <span class="fa-stack">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                </span>
            </a>
        </li>
        <li>
            <a href="http://stackoverflow.com/users/1116098/sean-francis-n-ballais" title="StackOverflow" alt="Link to Stackoverflow profile">
                <span class="fa-stack">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-stack-overflow fa-stack-1x fa-inverse"></i>
                </span>
            </a>
        </li>
    </ul>
</div>
