/* CSS Fonts */
@font-face {
    font-family: Raleway;
    font-weight: 300;
    src: url("/static/fonts/Raleway Thin.ttf");
}

@font-face {
    font-family: Lusitana;
    font-weight: bold;
    src: url("/static/fonts/Lusitana-Bold.ttf");
}

@font-face {
    font-family: Lusitana;
    font-weight: normal;
    src: url("/static/fonts/Lusitana-Regular.ttf");
}

@font-face {
    font-family: Montserrat;
    font-weight: bold;
    src: url("/static/fonts/Montserrat-Bold.otf");
}

@font-face {
    font-family: Montserrat;
    font-weight: bolder;
    src: url("/static/fonts/Montserrat-ExtraBold.otf");
}

@font-face {
    font-family: Montserrat;
    font-weight: 100;
    src: url("/static/fonts/Montserrat-ExtraLight.otf");
}

@font-face {
    font-family: Montserrat;
    font-weight: 200;
    src: url("/static/fonts/Montserrat-Light.otf");
}

@font-face {
    font-family: Montserrat;
    font-weight: 300;
    src: url("/static/fonts/Montserrat-Medium.otf");
}

@font-face {
    font-family: Montserrat;
    font-weight: normal;
    src: url("/static/fonts/Montserrat-Regular.otf");
}

@font-face {
    font-family: Montserrat;
    font-weight: 700;
    src: url("/static/fonts/Montserrat-SemiBold.otf");
}

@font-face {
    font-family: Montserrat;
    font-weight: lighter;
    src: url("/static/fonts/Montserrat-Thin.otf");
}

/* CSS Global Definitions */
