/* CSS Fonts */
@font-face {
    font-family: Raleway-Black;
    font-weight: normal;
    font-style: normal;
    src: url("/static/fonts/Raleway-Black.ttf");
}

@font-face {
    font-family: Raleway-Black;
    font-weight: normal;
    font-style: italic;
    src: url("/static/fonts/Raleway-BlackItalic.ttf");
}

@font-face {
    font-family: Raleway;
    font-weight: bold;
    font-style: normal;
    src: url("/static/fonts/Raleway-Bold.ttf");
}

@font-face {
    font-family: Raleway;
    font-weight: bold;
    font-style: italic;
    src: url("/static/fonts/Raleway-BoldItalic.ttf");
}

@font-face {
    font-family: Raleway;
    font-weight: bolder;
    font-style: none;
    src: url("/static/fonts/Raleway-ExtraBold.ttf");
}

@font-face {
    font-family: Raleway;
    font-weight: bolder;
    font-style: italic;
    src: url("/static/fonts/Raleway-ExtraBoldItalic.ttf");
}

@font-face {
    font-family: Raleway;
    font-weight: lighter;
    font-style: none;
    src: url("/static/fonts/Raleway-ExtraLight.ttf");
}

@font-face {
    font-family: Raleway;
    font-weight: lighter;
    font-style: italic;
    src: url("/static/fonts/Raleway-ExtraLightItalic.ttf");
}

@font-face {
    font-family: Raleway;
    font-weight: normal;
    font-style: italic;
    src: url("/static/fonts/Raleway-Italic.ttf");
}

@font-face {
    font-family: Raleway;
    font-weight: light;
    font-style: none;
    src: url("/static/fonts/Raleway-Light.ttf");
}

@font-face {
    font-family: Raleway;
    font-weight: light;
    font-style: italic;
    src: url("/static/fonts/Raleway-LightItalic.ttf");
}

@font-face {
    font-family: Raleway;
    font-weight: 500;
    font-style: normal;
    src: url("/static/fonts/Raleway-Medium.ttf");
}

@font-face {
    font-family: Raleway;
    font-weight: 500;
    font-style: italic;
    src: url("/static/fonts/Raleway-MediumItalic.ttf");
}

@font-face {
    font-family: Raleway;
    font-weight: normal;
    font-style: normal;
    src: url("/static/fonts/Raleway-Regular.ttf");
}

@font-face {
    font-family: Raleway;
    font-weight: 600;
    font-style: normal;
    src: url("/static/fonts/Raleway-SemiBold.ttf");
}

@font-face {
    font-family: Raleway;
    font-weight: 600;
    font-style: italic;
    src: url("/static/fonts/Raleway-SemiBoldItalic.ttf");
}

@font-face {
    font-family: Raleway;
    font-weight: 200;
    font-style: none;
    src: url("/static/fonts/Raleway-Thin.ttf");
}

@font-face {
    font-family: Raleway;
    font-weight: 200;
    font-style: italic;
    src: url("/static/fonts/Raleway-ThinItalic.ttf");
}

@font-face {
    font-family: Lusitana;
    font-weight: bold;
    src: url("/static/fonts/Lusitana-Bold.ttf");
}

@font-face {
    font-family: Lusitana;
    font-weight: normal;
    src: url("/static/fonts/Lusitana-Regular.ttf");
}

@font-face {
    font-family: Montserrat;
    font-weight: bold;
    src: url("/static/fonts/Montserrat-Bold.otf");
}

@font-face {
    font-family: Montserrat;
    font-weight: bolder;
    src: url("/static/fonts/Montserrat-ExtraBold.otf");
}

@font-face {
    font-family: Montserrat;
    font-weight: 100;
    src: url("/static/fonts/Montserrat-ExtraLight.otf");
}

@font-face {
    font-family: Montserrat;
    font-weight: 200;
    src: url("/static/fonts/Montserrat-Light.otf");
}

@font-face {
    font-family: Montserrat;
    font-weight: 300;
    src: url("/static/fonts/Montserrat-Medium.otf");
}

@font-face {
    font-family: Montserrat;
    font-weight: normal;
    src: url("/static/fonts/Montserrat-Regular.otf");
}

@font-face {
    font-family: Montserrat;
    font-weight: 700;
    src: url("/static/fonts/Montserrat-SemiBold.otf");
}

@font-face {
    font-family: Montserrat;
    font-weight: lighter;
    src: url("/static/fonts/Montserrat-Thin.otf");
}

/* CSS Global Definitions */
a {
    transition: color 0.5s ease !important;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}

nav {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 1em;
    padding: 1%;
    max-width: 1200px;
    margin: 0 auto;
}

nav > div > ul li {
    padding-left: 3% !important;
    padding-right: 3% !important;
}

nav > div > ul li > a {
    transition: color 0.5s ease;

    color: #222222;
}

nav > div > ul li > a:hover {
    color: #545454;
    text-decoration: none;
}

header#banner {
    margin-bottom: 2%;
    text-align: center;
}

header#banner div#banner-img {
    display: inline-block;
}

header#banner > div.social-links {
    margin: 1%;
}

header#banner > div.social-links > ul li > a > span.fa-stack {
    transition: color 0.5s ease;

    color: #3c3c3c;a > span.fa-stack
}

header#banner div.social-links ul li a > span.fa-stack:hover {
    color: #636363;
}

article {
    max-width: 1366px;
    padding: 0 !important;
}

footer {
    background-color: rgb(59, 59, 59);
    color: #fff;
    font-family: Lusitana;
    text-align: center;

    padding-top: 1.5%;
    padding-bottom: 2%;
}

footer div#footer-container {
    max-width: 960px;
    margin: 0 auto;
}

footer div.social-links {
    padding-top: 1%;
    padding-bottom: 1%;
}

footer div.social-links ul li > a > span.fa-stack {
    transition: color 0.5s ease;
    color: rgb(105, 105, 105);
}

footer div.social-links ul li > a > span.fa-stack:hover {
    color: rgb(42, 42, 42);
}
