section#recent-posts,
section#posts {
    max-width: 1366px;
}

section#recent-posts {
    margin-top: 1%;
    padding: 0;
}

section#quick-info {
    font-family: Lusitana;
    font-size: 1.25em;
    color: #fff;
    background-color: rgb(55, 55, 55);

    padding: 1%;
}

section#quick-info div#info-container {
    max-width: 1000px;
    margin: 0 auto;
}

section#quick-info div#info-container a {
    color: rgb(104, 170, 228);
}

section#quick-info div#info-container a:hover {
    color: rgb(64, 122, 173);
}

section#posts > h3,
section#posts > h4,
section#projects > h3 {
    margin-top: 2%;
    margin-bottom: 1%;

    font-family: Lusitana;
    font-weight: bold;
    text-align: center;
}

section#posts > h4 {
    color: #416396;
}

section#posts > h4:hover {
    color: #5785c9;
}

section#posts div.post-container > a {
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 3%;
    padding-right: 3%;
}

section#posts div.post-container > a > section.post-preview-small,
section#recent-posts a > section.post-preview {
    transition: opacity 0.5s ease;

    background-size: 100% auto;
    margin: 0;
    opacity: 1.0;

    color: #fff;
}

section#recent-posts a > section.post-preview,
section#posts div.post-container > a > section.post-preview-small {
    padding-top: 20%;
}

section#posts div.post-container > a > section.post-preview-small:hover,
section#recent-posts a > section.post-preview:hover {
    opacity: 0.8;
    cursor: pointer;
}

section#recent-posts a > section.post-preview > div.post-preview-text {
    padding: 2%;
}

section#posts div.post-container > a > section.post-preview-small > div.post-preview-small-text {
    text-align: center;
    padding: 5%;
}

section#posts div.post-container > a > section.post-preview-small > div.post-preview-small-text > h2,
section#recent-posts a > section.post-preview > div.post-preview-text > h2 {
    display: block;
    font-family: Raleway;
    font-weight: 600;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

section#posts div.post-container > a > section.post-preview-small > div.post-preview-small-text > h2 {
    font-size: 1.5em;
}

section#recent-posts a > section.post-preview > div.post-preview-text > h2 {
    font-size: 2em;
}

section#posts div.post-container > a > section.post-preview-small > div.post-preview-small-text > h4,
section#recent-posts a > section.post-preview > div.post-preview-text > h4 {
    display: block;
    font-family: Lusitana;
}

section#quick-info p {
    display: inline-block;
    font-size: 1.25em;
    line-height: 1.5;
    padding: 2%;
}

section#quick-info p a {
    transition: color 0.5s ease;
}

hr.index-divider {
    max-width: 900px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(218, 218, 218);
}
