section#recent-posts {
    margin-top: 1%;
    max-width: 1200px;
}

section#recent-posts a > section.post-preview {
    color: #fff;
    background-size: 100% auto;
    text-align: center;
    padding-top: 20%;
    margin: 0;
}

section#recent-posts a > section.post-preview > div.post-preview-text {
    padding: 2%;
}

section#recent-posts a > section.post-preview > div.post-preview-text > h2 {
    display: block;
    font-family: Raleway;
    font-weight: 600;
    font-size: 2em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

section#recent-posts a > section.post-preview > div.post-preview-text > h4 {
    display: block;
    font-family: Lusitana;
}
