header h1 {
    font-family: Raleway;
    text-align: center;
}

section#description,
section#comments {
    padding: 2%;
    margin: 0 auto;
}

section#description {
    font-family: Lusitana;
    font-size: 1.25em;
    line-height: 1.5;
}

section#description img {
    margin: 0 auto;
    max-width: 100%;
    display: block;
    height: auto;
    padding-top: 2%;
    padding-bottom: 2%;
}

h4 {
    font-family: Lusitana !important;
    font-size: 1.25em;
}

header {
    text-align: center;
}
