<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
    <script>
        window.fbAsyncInit = function() {
            FB.init({
                appId      : '550843095054477',
                xfbml      : true,
                version    : 'v2.4'
            });
        };

        (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

    {% include nav.html %}

    {{ content }}

    {% include footer.html %}

    {% include google-analytics.html %}

</body>

</html>
